<%- include('../partials/header') %>

<form action="/programs" method="POST">
  <label>Title:</label>
  <input type="text" name="title" />
  <label>Length of Program In Weeks</label>
  <select name="lengthInWeeks">
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
  </select>
  <label>Days Per Week</label>
  <select name="daysPerWeek">
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select><br><br><br>


  <table>
    <label>day 1</label>
   <br><input type="text" name="day1"><br>
    <tr>
      <th>Exercise</th>
      <th>Weights</th>
      <th>Sets</th>
      <th>Reps</th>
    </tr>
    <tr>
      <td><input type="text" name="exercise" /></td>
      <td><input type="number" name="weight" /></td>
      <td><input type="number" name="sets" /></td>
      <td><input type="number" name="reps" /></td>  </tr>
    </tr>
    <tr>
      <td><input type="text" name="exercise" /></td>
      <td><input type="number" name="weight" /></td>
      <td><input type="number" name="sets" /></td>
      <td><input type="number" name="reps" /></td>  </tr>
    </tr>
    <tr>
      <td><input type="text" name="exercise" /></td>
      <td><input type="number" name="weight" /></td>
      <td><input type="number" name="sets" /></td>
      <td><input type="number" name="reps" /></td>  </tr>
    </tr>
    <tr>
      <td><input type="text" name="exercise" /></td>
      <td><input type="number" name="weight" /></td>
      <td><input type="number" name="sets" /></td>
      <td><input type="number" name="reps" /></td>  </tr>
    </tr>
    <tr>
      <td><input type="text" name="exercise" /></td>
      <td><input type="number" name="weight" /></td>
      <td><input type="number" name="sets" /></td>
      <td><input type="number" name="reps" /></td>  </tr>
    </tr>
    <tr>
      <td><input type="text" name="exercise" /></td>
      <td><input type="number" name="weight" /></td>
      <td><input type="number" name="sets" /></td>
      <td><input type="number" name="reps" /></td>  </tr>
    </tr>
    <tr>
      <td><input type="text" name="exercise" /></td>
      <td><input type="number" name="weight" /></td>
      <td><input type="number" name="sets" /></td>
      <td><input type="number" name="reps" /></td>  </tr>
    </tr>
    <button type="submit">Submit Day</button>
  </table>
  
  
  
  <table>
    <label>day 2</label>
    <br><input type="text" name="day2"><br>
    <tr>
      <th>Exercise</th>
      <th>Weights</th>
      <th>Sets</th>
      <th>Reps</th>
    </tr>
    <tr>
      <td><input type="text" name="exercise" /></td>
      <td><input type="number" name="weight" /></td>
      <td><input type="number" name="sets" /></td>
      <td><input type="number" name="reps" /></td>  </tr>
    </tr>
    <tr>
      <td><input type="text" name="exercise" /></td>
      <td><input type="number" name="weight" /></td>
      <td><input type="number" name="sets" /></td>
      <td><input type="number" name="reps" /></td>  </tr>
    </tr>
    <tr>
      <td><input type="text" name="exercise" /></td>
      <td><input type="number" name="weight" /></td>
      <td><input type="number" name="sets" /></td>
      <td><input type="number" name="reps" /></td>  </tr>
    </tr>
    <tr>
      <td><input type="text" name="exercise" /></td>
      <td><input type="number" name="weight" /></td>
      <td><input type="number" name="sets" /></td>
      <td><input type="number" name="reps" /></td>  </tr>
    </tr>
    <tr>
      <td><input type="text" name="exercise" /></td>
      <td><input type="number" name="weight" /></td>
      <td><input type="number" name="sets" /></td>
      <td><input type="number" name="reps" /></td>  </tr>
    </tr>
    <tr>
      <td><input type="text" name="exercise" /></td>
      <td><input type="number" name="weight" /></td>
      <td><input type="number" name="sets" /></td>
      <td><input type="number" name="reps" /></td>  </tr>
    </tr>
    <tr>
      <td><input type="text" name="exercise" /></td>
      <td><input type="number" name="weight" /></td>
      <td><input type="number" name="sets" /></td>
      <td><input type="number" name="reps" /></td>  </tr>
    </tr>
    <button type="submit">Submit Day</button>
  </table>
  
  
  <table>
    <label>day 3</label>
    <br><input type="text" name="day3"><br>
    <tr>
      <th>Exercise</th>
      <th>Weights</th>
      <th>Sets</th>
      <th>Reps</th>
    </tr>
    <tr>
      <td><input type="text" name="exercise" /></td>
      <td><input type="number" name="weight" /></td>
      <td><input type="number" name="sets" /></td>
      <td><input type="number" name="reps" /></td>  </tr>
    </tr>
    <tr>
      <td><input type="text" name="exercise" /></td>
      <td><input type="number" name="weight" /></td>
      <td><input type="number" name="sets" /></td>
      <td><input type="number" name="reps" /></td>  </tr>
    </tr>
    <tr>
      <td><input type="text" name="exercise" /></td>
      <td><input type="number" name="weight" /></td>
      <td><input type="number" name="sets" /></td>
      <td><input type="number" name="reps" /></td>  </tr>
    </tr>
    <tr>
      <td><input type="text" name="exercise" /></td>
      <td><input type="number" name="weight" /></td>
      <td><input type="number" name="sets" /></td>
      <td><input type="number" name="reps" /></td>  </tr>
    </tr>
    <tr>
      <td><input type="text" name="exercise" /></td>
      <td><input type="number" name="weight" /></td>
      <td><input type="number" name="sets" /></td>
      <td><input type="number" name="reps" /></td>  </tr>
    </tr>
    <tr>
      <td><input type="text" name="exercise" /></td>
      <td><input type="number" name="weight" /></td>
      <td><input type="number" name="sets" /></td>
      <td><input type="number" name="reps" /></td>  </tr>
    </tr>
    <tr>
      <td><input type="text" name="exercise" /></td>
      <td><input type="number" name="weight" /></td>
      <td><input type="number" name="sets" /></td>
      <td><input type="number" name="reps" /></td>  </tr>
    </tr>
    <button type="submit">Submit Day</button>
  </table>
  
  
  <table>
    <label>day 4</label>
    <br><input type="text" name="day4"><br>
    <tr>
      <th>Exercise</th>
      <th>Weights</th>
      <th>Sets</th>
      <th>Reps</th>
    </tr>
    <tr>
      <td><input type="text" name="exercise" /></td>
      <td><input type="number" name="weight" /></td>
      <td><input type="number" name="sets" /></td>
      <td><input type="number" name="reps" /></td>  </tr>
    </tr>
    <tr>
      <td><input type="text" name="exercise" /></td>
      <td><input type="number" name="weight" /></td>
      <td><input type="number" name="sets" /></td>
      <td><input type="number" name="reps" /></td>  </tr>
    </tr>
    <tr>
      <td><input type="text" name="exercise" /></td>
      <td><input type="number" name="weight" /></td>
      <td><input type="number" name="sets" /></td>
      <td><input type="number" name="reps" /></td>  </tr>
    </tr>
    <tr>
      <td><input type="text" name="exercise" /></td>
      <td><input type="number" name="weight" /></td>
      <td><input type="number" name="sets" /></td>
      <td><input type="number" name="reps" /></td>  </tr>
    </tr>
    <tr>
      <td><input type="text" name="exercise" /></td>
      <td><input type="number" name="weight" /></td>
      <td><input type="number" name="sets" /></td>
      <td><input type="number" name="reps" /></td>  </tr>
    </tr>
    <tr>
      <td><input type="text" name="exercise" /></td>
      <td><input type="number" name="weight" /></td>
      <td><input type="number" name="sets" /></td>
      <td><input type="number" name="reps" /></td>  </tr>
    </tr>
    <tr>
      <td><input type="text" name="exercise" /></td>
      <td><input type="number" name="weight" /></td>
      <td><input type="number" name="sets" /></td>
      <td><input type="number" name="reps" /></td>  </tr>
    </tr>
    <button type="submit">Submit Day</button>
  </table>
  
  
  <table>
    <label>day 5</label>
    <br><input type="text" name="day5"><br>
    <tr>
      <th>Exercise</th>
      <th>Weights</th>
      <th>Sets</th>
      <th>Reps</th>
    </tr>
    <tr>
      <td><input type="text" name="exercise" /></td>
      <td><input type="number" name="weight" /></td>
      <td><input type="number" name="sets" /></td>
      <td><input type="number" name="reps" /></td>  </tr>
    </tr>
    <tr>
      <td><input type="text" name="exercise" /></td>
      <td><input type="number" name="weight" /></td>
      <td><input type="number" name="sets" /></td>
      <td><input type="number" name="reps" /></td>  </tr>
    </tr>
    <tr>
      <td><input type="text" name="exercise" /></td>
      <td><input type="number" name="weight" /></td>
      <td><input type="number" name="sets" /></td>
      <td><input type="number" name="reps" /></td>  </tr>
    </tr>
    <tr>
      <td><input type="text" name="exercise" /></td>
      <td><input type="number" name="weight" /></td>
      <td><input type="number" name="sets" /></td>
      <td><input type="number" name="reps" /></td>  </tr>
    </tr>
    <tr>
      <td><input type="text" name="exercise" /></td>
      <td><input type="number" name="weight" /></td>
      <td><input type="number" name="sets" /></td>
      <td><input type="number" name="reps" /></td>  </tr>
    </tr>
    <tr>
      <td><input type="text" name="exercise" /></td>
      <td><input type="number" name="weight" /></td>
      <td><input type="number" name="sets" /></td>
      <td><input type="number" name="reps" /></td>  </tr>
    </tr>
    <tr>
      <td><input type="text" name="exercise" /></td>
      <td><input type="number" name="weight" /></td>
      <td><input type="number" name="sets" /></td>
      <td><input type="number" name="reps" /></td>  </tr>
    </tr>
    <button type="submit">Submit Day</button>
  </table><br><br>
  
<button type="submit">CREATE</button>
</form>
<%- include('../partials/footer') %>
